@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.navbar {
  padding: 1.5rem;
  background-color: white;
  display: flex; 
  justify-content: space-between;
  align-items: center;

  &__title {
    font-family: 'Alfa Slab One', cursive;
  }

  &__repo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.05rem;
  }

  &__github {
    font-size: 200%;
  }

  &__repo {
    text-decoration: underline;
  }

  &__repo:hover {
    text-decoration: none;
  }
}