@use "variables";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &__img {
    width: 17rem;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__title,
  &__artist,
  &__album {
    text-align: center;
  }

  &__artist,
  &__album {
    display: block;
  }

  &__link {
    text-decoration: underline;
  }

  &__link:hover {
    text-decoration: none;
  }
}